body {
	/*--primary-color: #2772b9;
	--secondary-color: #fafafa;
	--tertiary-color: #555555; linear-gradient(120deg, #f6d365 0%, #fda085 100%)*/
	/*-background:linear-gradient(120deg, #f6d365 0%, #fda085 100%); 
	--text-color: #333333;
	--text-claro: #fafafa;
	--primary-color: #ae2633;
	--secondary-color: rgb(39,114,185);*/
	
	--background: #fafafa;
	--text-color: #fafafa;
	--text-claro: #fafafa;
	--primary-color: #ae2633;
	--secondary-color: rgb(39,114,185);
}